xsd/rsx/7.2/944/WarehouseTransferReceiptAdvices.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- RSX WarehouseTransferReceiptAdvice (EDIDOC 944) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Retail Standard XML (RSX) .

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns:spsxs="http://www.spscommerce.com/RSX/SPSSchemaDefinition" xmlns="http://www.spscommerce.com/RSX" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.com/RSX" elementFormDefault="qualified" attributeFormDefault="unqualified" version="7.2.0">
  <xs:element name="WarehouseTransferReceiptAdvices">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="WarehouseTransferReceiptAdvice" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseTransferReceiptAdvice" type="WarehouseTransferReceiptAdviceType" />
  <xs:element name="AdditionalHeaderDetail" type="AdditionalHeaderDetailType" />
  <xs:complexType name="AdditionalHeaderDetailType">
    <xs:sequence>
      <xs:element ref="QuantityOfPalletsReceived" minOccurs="0" />
      <xs:element ref="QuantityOfPalletsReturned" minOccurs="0" />
      <xs:element ref="QuantityContested" minOccurs="0" />
      <xs:element ref="ReceivingConditionCode" minOccurs="0" />
      <xs:element ref="UnitLoadOptionCode" minOccurs="0" />
      <xs:element ref="TemperatureLocationCode" minOccurs="0" />
      <xs:element ref="TemperatureUOM" minOccurs="0" />
      <xs:element ref="Temperature" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalSealNumber" type="xs:string" />
  <xs:element name="AssignedNumber" type="xs:string" />
  <xs:element name="Color" type="xs:string" />
  <xs:element name="DamageReasonCode" type="xs:string" />
  <xs:element name="EquipmentInitial" type="xs:string" />
  <xs:element name="EquipmentNumber" type="xs:string" />
  <xs:element name="ExceptionQty" type="xs:decimal" />
  <xs:element name="ExceptionQtyUOM" type="xs:string" />
  <xs:element name="ExceptionWarehouseLotID" type="xs:string" />
  <xs:element name="Header" type="HeaderType" />
  <xs:element name="HeaderDetail" type="HeaderDetailType" />
  <xs:complexType name="HeaderDetailType">
    <xs:sequence>
      <xs:element ref="TradingPartnerId"></xs:element>
      <xs:element ref="WarehouseReceiptId"></xs:element>
      <xs:element ref="ShipmentIdentification" minOccurs="0"></xs:element>
      <xs:element ref="DepositorOrderNumber" minOccurs="0"></xs:element>
      <xs:element ref="ShipmentDate" minOccurs="0"></xs:element>
      <xs:element ref="ReportingCode" minOccurs="0"></xs:element>
      <xs:element ref="MasterLinkNumber" minOccurs="0" />
      <xs:element ref="LinkSequenceNumber" minOccurs="0" />
      <xs:element ref="QuantityOfPalletsReceived" minOccurs="0" />
      <xs:element ref="QuantityOfPalletsReturned" minOccurs="0" />
      <xs:element ref="QuantityContested" minOccurs="0" />
      <xs:element ref="ReceivingConditionCode" minOccurs="0" />
      <xs:element ref="UnitLoadOptionCode" minOccurs="0" />
      <xs:element ref="TemperatureLocationCode" minOccurs="0" />
      <xs:element ref="TemperatureUOM" minOccurs="0" />
      <xs:element ref="Temperature" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:complexContent>
      <xs:extension base="headerType">
        <xs:sequence>
          <xs:element ref="HeaderDetail"></xs:element>
          <xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="CarrierInformation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Height" type="xs:decimal" />
  <xs:element name="ItemDetail" type="ItemDetailType" />
  <xs:complexType name="ItemDetailType">
    <xs:sequence>
      <xs:element ref="LineSequenceNumber" minOccurs="0"></xs:element>
      <xs:group ref="ItemPartInfo"></xs:group>
      <xs:element ref="ProductID" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="QtyReceived" minOccurs="0"></xs:element>
      <xs:element ref="QtyReceivedUOM" minOccurs="0"></xs:element>
      <xs:element ref="WarehouseLotID" minOccurs="0" />
      <xs:element ref="WarehouseDetailAdjID" minOccurs="0" />
      <xs:element ref="UnitWeight" minOccurs="0" />
      <xs:element ref="Color" minOccurs="0" />
      <xs:element ref="ExceptionQty" minOccurs="0" />
      <xs:element ref="ExceptionQtyUOM" minOccurs="0" />
      <xs:element ref="ReceivingConditionCode" minOccurs="0" />
      <xs:element ref="ExceptionWarehouseLotID" minOccurs="0" />
      <xs:element ref="DamageReasonCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LadingQuantityReceived" type="xs:int" />
  <xs:element name="Length" type="xs:decimal" />
  <xs:element name="LineItem" type="LineItemType" />
  <xs:element name="LineItems" type="LineItemsType" />
  <xs:complexType name="LineItemsType">
    <xs:complexContent>
      <xs:extension base="datasetType">
        <xs:sequence>
          <xs:element ref="LineItem" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LineItemType">
    <xs:complexContent>
      <xs:extension base="groupType">
        <xs:sequence>
          <xs:element ref="ItemDetail" minOccurs="0"></xs:element>
          <xs:element ref="ProductOrItemDescription" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="PhysicalDetails" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"></xs:element>
          <xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LinkSequenceNumber" type="xs:int" />
  <xs:element name="MasterLinkNumber" type="xs:string" />
  <xs:element name="OrderLevel" type="OrderLevelType" />
  <xs:complexType name="OrderLevelType">
    <xs:complexContent>
      <xs:extension base="groupType">
        <xs:sequence>
          <xs:choice>
            <xs:element ref="OrderPacks"></xs:element>
            <xs:element ref="LineItems"></xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderPack" type="OrderPackType" />
  <xs:element name="OrderPacks" type="OrderPacksType" />
  <xs:complexType name="OrderPacksType">
    <xs:complexContent>
      <xs:extension base="datasetType">
        <xs:sequence>
          <xs:element ref="OrderPack" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrderPackType">
    <xs:complexContent>
      <xs:extension base="groupType">
        <xs:sequence>
          <xs:element ref="WarehousePack" minOccurs="0"></xs:element>
          <xs:element ref="MarksAndNumbersCollection" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="PalletInformation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded" />
          <xs:element ref="LineItems" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pack" type="xs:int" />
  <xs:element name="PalletBlocks" type="xs:int" />
  <xs:element name="PalletExchangeCode" type="xs:string" />
  <xs:element name="PalletInformation" type="PalletInformationType" />
  <xs:complexType name="PalletInformationType">
    <xs:sequence>
      <xs:element ref="PalletTypeCode" minOccurs="0" />
      <xs:element ref="PalletTiers" minOccurs="0" />
      <xs:element ref="PalletBlocks" minOccurs="0" />
      <xs:element ref="OuterPack" minOccurs="0" />
      <xs:element ref="UnitWeight" minOccurs="0" />
      <xs:element ref="UnitWeightUOM" minOccurs="0" />
      <xs:element ref="Length" minOccurs="0" />
      <xs:element ref="Width" minOccurs="0" />
      <xs:element ref="Height" minOccurs="0" />
      <xs:element ref="UnitOfMeasure" minOccurs="0" />
      <xs:element ref="PackWeight" minOccurs="0" />
      <xs:element ref="PackWeightUOM" minOccurs="0" />
      <xs:element ref="PackVolume" minOccurs="0" />
      <xs:element ref="PackVolumeUOM" minOccurs="0" />
      <xs:element ref="PalletExchangeCode" minOccurs="0" />
      <xs:element ref="InnerPack" minOccurs="0" />
      <xs:element ref="PalletStructureCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalletStructureCode" type="xs:string" />
  <xs:element name="PalletTiers" type="xs:int" />
  <xs:element name="PalletTypeCode" type="xs:string" />
  <xs:element name="QtyDamageOrOnHold" type="xs:decimal" />
  <xs:element name="QtyReceived" type="xs:decimal" />
  <xs:element name="QtyReceivedUOM" type="xs:string" />
  <xs:element name="QuantityContested" type="xs:decimal" />
  <xs:element name="QuantityOfPalletsReceived" type="xs:int" />
  <xs:element name="QuantityOfPalletsReturned" type="xs:int" />
  <xs:element name="ReceivingConditionCode" type="xs:string" />
  <xs:element name="ReportingCode" type="xs:string" />
  <xs:element name="ShipmentDate" type="xs:date" />
  <xs:element name="Size" type="xs:decimal" />
  <xs:element name="Summary" type="SummaryType" />
  <xs:complexType name="SummaryType">
    <xs:sequence>
      <xs:element ref="QtyReceived" minOccurs="0"></xs:element>
      <xs:element ref="UnitsShipped" minOccurs="0" />
      <xs:element ref="QtyDamageOrOnHold" minOccurs="0" />
      <xs:element ref="LadingQuantityReceived" minOccurs="0" />
      <xs:element ref="LadingQuantity" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" type="xs:decimal" />
  <xs:element name="TemperatureLocationCode" type="xs:string" />
  <xs:element name="TemperatureUOM" type="xs:string" />
  <xs:element name="Time1Qualifier" type="xs:string" />
  <xs:element name="TransportTypeCode" type="xs:string" />
  <xs:element name="UnitLoadOptionCode" type="xs:string" />
  <xs:element name="UnitsShipped" type="xs:decimal" />
  <xs:element name="UnitWeight" type="xs:decimal" />
  <xs:element name="UnitWeightUOM" type="xs:string" />
  <xs:element name="WarehouseDetailAdjID" type="xs:string" />
  <xs:element name="WarehouseLotID" type="xs:string" />
  <xs:element name="WarehousePack" type="WarehousePackType" />
  <xs:complexType name="WarehousePackType">
    <xs:sequence>
      <xs:element ref="AssignedNumber" minOccurs="0"></xs:element>
      <xs:element ref="CarrierPackageID" minOccurs="0"></xs:element>
      <xs:element ref="ShippingSerialID" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseReceiptId" type="xs:string" />
  <xs:complexType name="WarehouseTransferReceiptAdviceType">
    <xs:sequence>
      <xs:element ref="Meta" minOccurs="0"></xs:element>
      <xs:element ref="Header"></xs:element>
      <xs:element ref="OrderLevel" minOccurs="0"></xs:element>
      <xs:element ref="Summary" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Width" type="xs:decimal" />
  <xs:element name="RSXbase">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RSXbase" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionCode" type="xs:string" />
  <xs:element name="ActionsIndicated" type="xs:string" />
  <xs:element name="AdditionalDateQualifier1" type="xs:string" />
  <xs:element name="AdditionalDateQualifier2" type="xs:string" />
  <xs:element name="AdditionalDateQualifier3" type="xs:string" />
  <xs:element name="Address" type="AddressType" />
  <xs:element name="Address1">
    <xs:annotation>
      <xs:documentation>Address information</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Address2">
    <xs:annotation>
      <xs:documentation>Address information</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Address3" type="xs:string" />
  <xs:element name="Address4" type="xs:string" />
  <xs:element name="AddressAlternateName">
    <xs:annotation>
      <xs:documentation>Free-form name</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="AddressAlternateName2" type="xs:string" />
  <xs:element name="AddressLocationNumber">
    <xs:annotation>
      <xs:documentation>Code identifying a party or other code</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="AddressLocationNumber2" type="xs:string" />
  <xs:element name="AddressName">
    <xs:annotation>
      <xs:documentation>Code identifying an organizational entity, a physical location, property or an individual</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="AddressTaxExemptNumber" type="xs:string" />
  <xs:element name="AddressTaxIdNumber" type="xs:string" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element ref="AddressTypeCode" minOccurs="0"></xs:element>
      <xs:element ref="LocationCodeQualifier" minOccurs="0"></xs:element>
      <xs:element ref="AddressLocationNumber" minOccurs="0"></xs:element>
      <xs:element ref="AddressName" minOccurs="0"></xs:element>
      <xs:element ref="AddressAlternateName" minOccurs="0"></xs:element>
      <xs:element ref="AddressAlternateName2" minOccurs="0" />
      <xs:element ref="Address1" minOccurs="0"></xs:element>
      <xs:element ref="Address2" minOccurs="0"></xs:element>
      <xs:element ref="Address3" minOccurs="0" />
      <xs:element ref="Address4" minOccurs="0" />
      <xs:element ref="City" minOccurs="0"></xs:element>
      <xs:element ref="State" minOccurs="0"></xs:element>
      <xs:element ref="PostalCode" minOccurs="0"></xs:element>
      <xs:element ref="Country" minOccurs="0"></xs:element>
      <xs:element ref="LocationID" minOccurs="0" />
      <xs:element ref="CountrySubDivision" minOccurs="0" />
      <xs:element ref="AddressTaxIdNumber" minOccurs="0" />
      <xs:element ref="AddressTaxExemptNumber" minOccurs="0" />
      <xs:element ref="ReferenceInformation" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:element ref="Date" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressTypeCode">
    <xs:annotation>
      <xs:documentation>Code identifying an organizational entity, a physical location, property or an individual</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="AgencyQualifierCode" type="xs:string" />
  <xs:element name="AllowChrgAgency" type="xs:string" />
  <xs:element name="AllowChrgAgencyCode" type="xs:string" />
  <xs:element name="AllowChrgAmt" type="xs:decimal" />
  <xs:element name="AllowChrgCode" type="xs:string" />
  <xs:element name="AllowChrgHandlingCode" type="xs:string" />
  <xs:element name="AllowChrgHandlingDescription" type="xs:string" />
  <xs:element name="AllowChrgIndicator" type="xs:string" />
  <xs:element name="AllowChrgPercent" type="xs:decimal" />
  <xs:element name="AllowChrgPercentBasis" type="xs:string" />
  <xs:element name="AllowChrgQty" type="xs:decimal" />
  <xs:element name="AllowChrgQty2" type="xs:decimal" />
  <xs:element name="AllowChrgQtyUOM" type="xs:string" />
  <xs:element name="AllowChrgRate" type="xs:decimal" />
  <xs:element name="Amount" type="xs:decimal" />
  <xs:element name="AmountQualifier" type="xs:string" />
  <xs:element name="AmountSubjectToDiscount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>Monetary amount upon which the terms discount amount is calculated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ApplicationId" type="xs:string" />
  <xs:element name="AssignedID" type="xs:string" />
  <xs:element name="BatchID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Define use later</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BatchPart" type="xs:int">
    <xs:annotation>
      <xs:documentation>CDefine use later</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BatchTotal" type="xs:int">
    <xs:annotation>
      <xs:documentation>Define use later</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BillOfLadingNumber" type="xs:string" />
  <xs:element name="BuyerPartNumber" type="xs:string" />
  <xs:element name="BuyersCurrency">
    <xs:annotation>
      <xs:documentation>Code (Standard ISO) for country in whose currency the charges are specified.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:group name="Carrier">
    <xs:sequence>
      <xs:element ref="CarrierAlphaCode" minOccurs="0"></xs:element>
      <xs:element ref="CarrierTransMethodCode" minOccurs="0"></xs:element>
      <xs:element ref="CarrierRouting" minOccurs="0"></xs:element>
      <xs:element ref="CarrierServiceLevelCode" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="CarrierAlphaCode">
    <xs:annotation>
      <xs:documentation>Standard Carrier Alpha Code (SCAC)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierAlphaCode1" type="xs:string" />
  <xs:element name="CarrierAlphaCode2" type="xs:string" />
  <xs:element name="CarrierEquipmentDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EquipmentDescriptionCode" minOccurs="0" />
        <xs:element ref="CarrierEquipmentInitial" minOccurs="0" />
        <xs:element ref="CarrierEquipmentNumber" minOccurs="0" />
        <xs:element ref="WeightQualifier" minOccurs="0" />
        <xs:element ref="Weight" minOccurs="0" />
        <xs:element ref="UnitOfMeasure" minOccurs="0" />
        <xs:element ref="OwnershipCode" minOccurs="0" />
        <xs:element ref="SealStatusCode" minOccurs="0" />
        <xs:element ref="SealNumber" minOccurs="0" />
        <xs:element ref="EquipmentType" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierEquipmentInitial">
    <xs:annotation>
      <xs:documentation> Prefix or alphabetic part of an equipment unit's identifying number</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierEquipmentNumber">
    <xs:annotation>
      <xs:documentation> Sequencing or serial part of an equipment unit's identifying number (pure numeric form for equipment number is preferred)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CarrierTransMethodCode" minOccurs="0" />
        <xs:element ref="CarrierAlphaCode" minOccurs="0" />
        <xs:element ref="CarrierRouting" minOccurs="0" />
        <xs:element ref="EquipmentDescriptionCode" minOccurs="0" />
        <xs:element ref="CarrierEquipmentInitial" minOccurs="0" />
        <xs:element ref="CarrierEquipmentNumber" minOccurs="0" />
        <xs:element ref="EquipmentType" minOccurs="0" />
        <xs:element ref="SealStatusCode" minOccurs="0" />
        <xs:element ref="SealNumber" minOccurs="0" />
        <xs:element ref="OwnershipCode" minOccurs="0" />
        <xs:element ref="RoutingSequenceCode" minOccurs="0" />
        <xs:element ref="TransitDirectionCode" minOccurs="0" />
        <xs:element ref="ServiceLevelCodes" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierPackageID" type="xs:string" />
  <xs:element name="CarrierProNumber" type="xs:string" />
  <xs:element name="CarrierQuantityAndWeightDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ShipmentQtyPackingCode" minOccurs="0" />
        <xs:element ref="ShipmentLadingQuantity" minOccurs="0" />
        <xs:element ref="CommodityCodeQualifier" minOccurs="0" />
        <xs:element ref="CommodityCode" minOccurs="0" />
        <xs:element ref="LadingDescription" minOccurs="0" />
        <xs:element ref="GrossWeightQualifier" minOccurs="0" />
        <xs:element ref="ShipmentWeight" minOccurs="0" />
        <xs:element ref="ShipmentWeightUOM" minOccurs="0" />
        <xs:element ref="Volume" minOccurs="0" />
        <xs:element ref="VolumeUOM" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierRouting">
    <xs:annotation>
      <xs:documentation>Free-form description of the routing or requested routing for shipment, or the originating carrier's identity</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierRoutingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RoutingSequenceCode" minOccurs="0" />
        <xs:element ref="IdentificationCodeQualifier" minOccurs="0" />
        <xs:element ref="CarrierAlphaCode" minOccurs="0" />
        <xs:element ref="CarrierTransMethodCode" minOccurs="0" />
        <xs:element ref="CarrierRouting" minOccurs="0" />
        <xs:element ref="ShipmentOrderStatusCode" minOccurs="0" />
        <xs:element ref="LocationQualifier" minOccurs="0" />
        <xs:element ref="LocationID" minOccurs="0" />
        <xs:element ref="TransitDirectionCode" minOccurs="0" />
        <xs:element ref="TransitTimeQual" minOccurs="0" />
        <xs:element ref="TransitTime" minOccurs="0" />
        <xs:element ref="ServiceLevelCode1" minOccurs="0" />
        <xs:element ref="ServiceLevelCode2" minOccurs="0" />
        <xs:element ref="ServiceLevelCode3" minOccurs="0" />
        <xs:element ref="CountryCode" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrierServiceLevelCode" type="xs:string" />
  <xs:element name="CarrierTransMethodCode">
    <xs:annotation>
      <xs:documentation>Code specifying the method or type of transportation for the shipment</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CarrierTransportationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CarrierTransMethodCode" minOccurs="0" />
        <xs:element ref="CarrierEquipmentInitial" minOccurs="0" />
        <xs:element ref="CarrierEquipmentNumber" minOccurs="0" />
        <xs:element ref="CarrierAlphaCode" minOccurs="0" />
        <xs:element ref="CarrierRouting" minOccurs="0" />
        <xs:element ref="ShipmentStatusCode" minOccurs="0" />
        <xs:element ref="CarrierProNumber" minOccurs="0" />
        <xs:element ref="BillOfLadingNumber" minOccurs="0" />
        <xs:element ref="ReferenceQual" minOccurs="0" />
        <xs:element ref="ReferenceID" minOccurs="0" />
        <xs:element ref="ServiceLevelCode" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CatalogNumber" type="xs:string" />
  <xs:element name="ChangeReasonCode" type="xs:string" />
  <xs:element name="ChargesAllowances" type="ChargesAllowancesType" />
  <xs:complexType name="ChargesAllowancesType">
    <xs:annotation>
      <xs:documentation>Corresponds to EDI SAC or G72/G73 segment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="AllowChrgIndicator" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgCode" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgAgencyCode" minOccurs="0" />
      <xs:element ref="AllowChrgAgency" minOccurs="0" />
      <xs:element ref="AllowChrgAmt" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgPercentBasis" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgPercent" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgRate" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgQtyUOM" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgQty" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgHandlingCode" minOccurs="0"></xs:element>
      <xs:element ref="ReferenceIdentification" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgHandlingDescription" minOccurs="0"></xs:element>
      <xs:element ref="OptionNumber" minOccurs="0" />
      <xs:element ref="ExceptionNumber" minOccurs="0"></xs:element>
      <xs:element ref="AllowChrgQty2" minOccurs="0" />
      <xs:element ref="LanguageCode" minOccurs="0" />
      <xs:element ref="Tax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City">
    <xs:annotation>
      <xs:documentation>Free-form text for city name</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Class" type="xs:string" />
  <xs:element name="ClassOfTradeCode" type="xs:string" />
  <xs:element name="ColorCategoryName">
    <xs:annotation>
      <xs:documentation> A name describing a group of associated colors.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ColorPrimaryDescription">
    <xs:annotation>
      <xs:documentation> Human readable text defining the color code.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Comments" type="xs:string">
    <xs:annotation>
      <xs:documentation>Key value pairs indicating custom operation.  Usage is similar to FEDS usage of 'comments'</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Commodity" type="CommodityType" />
  <xs:element name="CommodityCode">
    <xs:annotation>
      <xs:documentation> Code describing a commodity or group of commodities
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CommodityCodeQualifier" type="xs:string" />
  <xs:complexType name="CommodityType">
    <xs:sequence>
      <xs:element ref="CommodityCodeQualifier" minOccurs="0" />
      <xs:element ref="CommodityCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeUOM" type="xs:string" />
  <xs:element name="ConditionValue" type="xs:string" />
  <xs:element name="ConsumerPackageCode" type="xs:string" />
  <xs:element name="Contact" type="ContactType" />
  <xs:element name="ContactEmail" type="xs:string" />
  <xs:element name="ContactFax">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContactName">
    <xs:annotation>
      <xs:documentation>Free-form name</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContactPhone">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ContactReference" type="xs:string" />
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Corresponds to EDI PER or G61 segment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ContactTypeCode" minOccurs="0"></xs:element>
      <xs:element ref="ContactName" minOccurs="0"></xs:element>
      <xs:element ref="ContactPhone" minOccurs="0"></xs:element>
      <xs:element ref="ContactFax" minOccurs="0"></xs:element>
      <xs:element ref="ContactEmail" minOccurs="0"></xs:element>
      <xs:element ref="ContactReference" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactTypeCode" type="xs:string" />
  <xs:element name="Country">
    <xs:annotation>
      <xs:documentation>Human readable description identifying the country</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CountryCode" type="xs:string" />
  <xs:element name="CountrySubDivision" type="xs:string" />
  <xs:element name="CreditDebitFlag" type="xs:string" />
  <xs:element name="CreditDebitNumber" type="xs:string" />
  <xs:element name="CurrencyCode" type="xs:string" />
  <xs:element name="CurrencyCode1" type="xs:string" />
  <xs:element name="CurrencyCode2" type="xs:string" />
  <xs:element name="CurrencyCode3" type="xs:string" />
  <xs:element name="CurrencyCodeType" type="xs:string" />
  <xs:element name="CurrencyCodeType2" type="xs:string" />
  <xs:element name="CustomerAccountNumber">
    <xs:annotation>
      <xs:documentation>Account Number</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomerOrderNumber">
    <xs:annotation>
      <xs:documentation>Customer Order Number</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="CustomsEntryTypeGroupCode" type="xs:string" />
  <xs:complexType name="datasetType">
    <xs:annotation>
      <xs:documentation>Contains one or more group elements.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="Date">
    <xs:annotation>
      <xs:documentation>Corresponds to EDI DTM or G62 segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DateTimeQualifier1" minOccurs="0"></xs:element>
        <xs:element ref="Date1" minOccurs="0"></xs:element>
        <xs:element ref="Time1" minOccurs="0"></xs:element>
        <xs:element ref="TimeCode1" minOccurs="0" />
        <xs:element ref="DateTimeFormQualifier1" minOccurs="0" />
        <xs:element ref="DateTimePeriod" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Date1" type="xs:date" />
  <xs:element name="Date2" type="xs:date" />
  <xs:element name="Date3" type="xs:date" />
  <xs:element name="DateTimeFormQualifier1" type="xs:string" />
  <xs:element name="DateTimePeriod" type="xs:string" />
  <xs:element name="DateTimeQualifier1" type="xs:string" />
  <xs:element name="DateTimeQualifier2" type="xs:string" />
  <xs:element name="DateTimeQualifier3" type="xs:string" />
  <xs:element name="DateTimeQualifier4" type="xs:string" />
  <xs:element name="DateTimeQualifier5" type="xs:string" />
  <xs:element name="Department">
    <xs:annotation>
      <xs:documentation>Department number or department name</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="DepartmentDescription">
    <xs:annotation>
      <xs:documentation>A free-form descirption of the department</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="DepositorOrderNumber" type="xs:string" />
  <xs:element name="Description" type="xs:string" />
  <xs:element name="Description1" type="xs:string" />
  <xs:element name="Description2" type="xs:string" />
  <xs:element name="Division">
    <xs:annotation>
      <xs:documentation>Division Identifierr</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="DocumentControlIdentifier" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code uniquely identifying a Transaction Set.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentControlNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Document control number from FEDS T record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DocumentId" type="xs:string" />
  <xs:complexType name="documentType">
    <xs:annotation>
      <xs:documentation>Abstract document structure.  Always contains an element derived from headerType, followed by LineItems, Summary, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Meta" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EAN" type="xs:string">
    <xs:annotation>
      <xs:documentation>EAN/UCC - 13,Data structure for the 13 digit EAN.UCC (EAN International.Uniform Code Council) Global Trade Item Number (GTIN)--'EN'</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EquipmentDescriptionCode">
    <xs:annotation>
      <xs:documentation> Code identifying type of equipment used for shipment
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="EquipmentType" type="xs:string" />
  <xs:element name="ExceptionNumber" type="xs:string" />
  <xs:element name="ExchangeCode" type="xs:string" />
  <xs:element name="ExchangeRate" type="xs:decimal" />
  <xs:element name="ExtendedItemTotal" type="xs:decimal" />
  <xs:element name="FileID" type="xs:string" />
  <xs:group name="FirstRecordID">
    <xs:sequence>
      <xs:element ref="TradingPartnerId" />
      <xs:choice>
        <xs:element ref="InvoiceNumber" />
        <xs:element ref="DocumentId" />
        <xs:element ref="ShipmentIdentification" />
        <xs:element ref="PurchaseOrderNumber" />
        <xs:element ref="CatalogNumber" />
        <xs:element ref="CreditDebitNumber" />
        <xs:element ref="DepositorOrderNumber" />
        <xs:element ref="ReportStartDate" />
      </xs:choice>
      <xs:element ref="RecordType" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="firstRecordType">
    <xs:annotation>
      <xs:documentation>Abstract record structure.  Begins with manadatory trading partner, and document ID,  followed by one or more data field elements.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="FirstRecordID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FloorReady" type="FloorReadyType">
    <xs:annotation>
      <xs:documentation>Used when retailer required suppliers to pre-ticket</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FloorReadyDescription" type="xs:string" />
  <xs:element name="FloorReadyID" type="xs:string" />
  <xs:element name="FloorReadyRequired" type="xs:string" />
  <xs:complexType name="FloorReadyType">
    <xs:sequence>
      <xs:element ref="FloorReadyRequired" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Code indicating whether the retailer requires the item to be floor ready</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="FloorReadyTypeCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates the type of Floor Ready instructions being sent in a repetition of the Floor Ready group</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="FloorReadyDescription" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Free-form description explaining the Floor Ready requirements</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="FloorReadyID" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Retailer Assigned Reference# associated with the FloorReadyType</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FloorReadyTypeCode" type="xs:string" />
  <xs:group name="FOB">
    <xs:sequence>
      <xs:element ref="FOBPayCode" minOccurs="0"></xs:element>
      <xs:element ref="FOBLocationQualifier" minOccurs="0"></xs:element>
      <xs:element ref="FOBLocationDescription" minOccurs="0"></xs:element>
      <xs:element ref="FOBTitlePassageCode" minOccurs="0" />
      <xs:element ref="FOBTitlePassageLocation" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:group name="FOBInstructionInfo">
    <xs:sequence>
      <xs:group ref="FOB" minOccurs="0" />
      <xs:element ref="TransportationTermsQualifierCode" minOccurs="0" />
      <xs:element ref="TransportationTermsCode" minOccurs="0" />
      <xs:element ref="RiskOfLossCode" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="FOBLocationDescription">
    <xs:annotation>
      <xs:documentation>A free-form description to clarify the related data elements and their content</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="FOBLocationQualifier">
    <xs:annotation>
      <xs:documentation>Code identifying type of location</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="FOBPayCode">
    <xs:annotation>
      <xs:documentation>Code identifying payment terms for transportation charges</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="FOBRelatedInstruction">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="FOBInstructionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FOBTitlePassageCode" type="xs:string" />
  <xs:element name="FOBTitlePassageLocation" type="xs:string" />
  <xs:element name="Gender" type="xs:string" />
  <xs:element name="GrossWeightQualifier" type="xs:string" />
  <xs:element name="GroupControlIdentifier" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code identifying a group of application related transaction sets.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupControlNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>Group control number from FEDS F record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupReceiverID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Group receiver ID, would come in on C record CGRPRECEIVER=XXXXXX</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupSenderID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Group sender ID, would come in on C record CGRPSENDER=XXXXXX</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="groupType">
    <xs:annotation>
      <xs:documentation>Contains one or more record elements.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="GTIN" type="xs:string" />
  <xs:complexType name="headerType">
    <xs:annotation>
      <xs:documentation>Abstract header dataset type.  Encloses all document header elements.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="IdentificationCodeQualifier" type="xs:string" />
  <xs:element name="IDQual" type="xs:string" />
  <xs:element name="IndustryCode" type="xs:string" />
  <xs:element name="IndustryCodeQualifier" type="xs:string" />
  <xs:element name="InnerPack" type="xs:int" />
  <xs:element name="InterchangeControlNumber" type="xs:string">
    <xs:annotation>
      <xs:documentation>ISA control number from the FEDS I record.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InterchangeReceiverID" type="xs:string">
    <xs:annotation>
      <xs:documentation>ISA receiver ID, would come in on C record CINTRECEIVER=XXXXXX</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InterchangeSenderID" type="xs:string">
    <xs:annotation>
      <xs:documentation>ISA sender ID, would come in on C record, maybe CINTSENDER=XXXXXX</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="InternationalStandardBookNumber" type="xs:string" />
  <xs:element name="InvoiceNumber" type="xs:string" />
  <xs:element name="IsDropShip" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Flag set to “true” if the document is a drop ship document, otherwise “false”</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ItemDescriptionType" type="xs:string" />
  <xs:group name="ItemPack">
    <xs:sequence>
      <xs:element ref="OuterPack" minOccurs="0"></xs:element>
      <xs:element ref="PackSize" minOccurs="0"></xs:element>
      <xs:element ref="PackUOM" minOccurs="0"></xs:element>
      <xs:element ref="PackCode" minOccurs="0" />
      <xs:element ref="WeightQualifier" minOccurs="0" />
      <xs:element ref="PackWeight" minOccurs="0"></xs:element>
      <xs:element ref="PackWeightUOM" minOccurs="0"></xs:element>
      <xs:sequence minOccurs="0">
        <xs:element ref="PackVolume" minOccurs="0" />
        <xs:element ref="PackVolumeUOM" minOccurs="0" />
      </xs:sequence>
      <xs:element ref="PackLength" minOccurs="0" />
      <xs:element ref="PackWidth" minOccurs="0" />
      <xs:element ref="PackHeight" minOccurs="0" />
      <xs:element ref="PackDimensionUOM" minOccurs="0" />
      <xs:element ref="InnerPack" minOccurs="0"></xs:element>
      <xs:element ref="SurfaceLayerPositionCode" minOccurs="0" />
      <xs:element ref="AssignedID" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:group name="ItemPartInfo">
    <xs:sequence>
      <xs:element ref="ApplicationId" minOccurs="0" />
      <xs:element ref="BuyerPartNumber" minOccurs="0"></xs:element>
      <xs:element ref="VendorPartNumber" minOccurs="0"></xs:element>
      <xs:element ref="ConsumerPackageCode" minOccurs="0"></xs:element>
      <xs:element ref="EAN" minOccurs="0"></xs:element>
      <xs:element ref="GTIN" minOccurs="0"></xs:element>
      <xs:element ref="UPCCaseCode" minOccurs="0"></xs:element>
      <xs:element ref="NatlDrugCode" minOccurs="0"></xs:element>
      <xs:element ref="InternationalStandardBookNumber" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="ItemQty" type="xs:decimal" />
  <xs:element name="ItemQtyUOM" type="xs:string" />
  <xs:element name="JobNumber" type="xs:string" />
  <xs:element name="JurisdictionCode" type="xs:string" />
  <xs:element name="JurisdictionQual" type="xs:string" />
  <xs:element name="LadingDescription" type="xs:string" />
  <xs:element name="LadingQuantity" type="xs:string" />
  <xs:element name="LanguageCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>ISO 639 language code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LeadTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LeadTimeCode" minOccurs="0" />
        <xs:element ref="LeadTimeQuantity" minOccurs="0" />
        <xs:element ref="LeadTimePeriodInterval" minOccurs="0" />
        <xs:element ref="LeadTimeDate" minOccurs="0" />
        <xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeadTimeCode" type="xs:string" />
  <xs:element name="LeadTimeDate" type="xs:date" />
  <xs:element name="LeadTimePeriodInterval" type="xs:string" />
  <xs:element name="LeadTimeQuantity" type="xs:decimal" />
  <xs:group name="LineQty">
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element ref="OrderQty" minOccurs="0"></xs:element>
        <xs:element ref="OrderQtyUOM" minOccurs="0"></xs:element>
      </xs:sequence>
      <xs:element ref="UnitPrice" minOccurs="0"></xs:element>
      <xs:element ref="UnitPriceBasis" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="LineSequenceNumber" type="xs:string" />
  <xs:group name="LineShipQty">
    <xs:sequence>
      <xs:element ref="ShipQty" minOccurs="0"></xs:element>
      <xs:element ref="ShipQtyUOM" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="Location" type="xs:string" />
  <xs:element name="LocationCodeQualifier">
    <xs:annotation>
      <xs:documentation>Code designating the system/method of code structure used for Identification Code (67)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="LocationID" type="xs:string" />
  <xs:element name="LocationNumber" type="xs:string" />
  <xs:element name="LocationQualifier" type="xs:string" />
  <xs:element name="LocationQuantities" type="LocationQuantitiesType" />
  <xs:complexType name="LocationQuantitiesType">
    <xs:sequence>
      <xs:element ref="QtyUOM" minOccurs="0"></xs:element>
      <xs:element ref="IDQual" minOccurs="0"></xs:element>
      <xs:element ref="LocationID" minOccurs="0"></xs:element>
      <xs:element ref="LocationQuantity" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Location" minOccurs="0"></xs:element>
        <xs:element ref="Qty" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManufacturerPartNumber" type="xs:string" />
  <xs:element name="MarksAndNumbers1" type="xs:string" />
  <xs:element name="MarksAndNumbers1A" type="xs:string" />
  <xs:element name="MarksAndNumbers2" type="xs:string" />
  <xs:element name="MarksAndNumbers2A" type="xs:string" />
  <xs:element name="MarksAndNumbersCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MarksAndNumbersQualifier1" minOccurs="0" />
        <xs:element ref="MarksAndNumbers1" minOccurs="0" />
        <xs:element ref="MarksAndNumbers1A" minOccurs="0" />
        <xs:element ref="MarksAndNumbersQualifier2" minOccurs="0" />
        <xs:element ref="MarksAndNumbers2" minOccurs="0" />
        <xs:element ref="MarksAndNumbers2A" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarksAndNumbersQualifier1" type="xs:string" />
  <xs:element name="MarksAndNumbersQualifier2" type="xs:string" />
  <xs:element name="MeasurementAttributeCode" type="xs:string" />
  <xs:element name="MeasurementMethodorDevice" type="xs:string" />
  <xs:element name="MeasurementQualifier" type="xs:string" />
  <xs:element name="MeasurementRefIDCode" type="xs:string" />
  <xs:element name="Measurements" type="MeasurementsType" />
  <xs:element name="MeasurementSignificanceCode" type="xs:string" />
  <xs:complexType name="MeasurementsType">
    <xs:sequence>
      <xs:element ref="MeasurementRefIDCode" minOccurs="0" />
      <xs:element ref="MeasurementQualifier" minOccurs="0" />
      <xs:element ref="MeasurementValue" minOccurs="0" />
      <xs:element ref="CompositeUOM" minOccurs="0" />
      <xs:element ref="RangeMinimum" minOccurs="0" />
      <xs:element ref="RangeMaximum" minOccurs="0" />
      <xs:element ref="MeasurementSignificanceCode" minOccurs="0" />
      <xs:element ref="MeasurementAttributeCode" minOccurs="0" />
      <xs:element ref="SurfaceLayerPositionCode" minOccurs="0" />
      <xs:element ref="IndustryCodeQualifier" minOccurs="0" />
      <xs:element ref="IndustryCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeasurementValue" type="xs:decimal" />
  <xs:element name="Meta">
    <xs:annotation>
      <xs:documentation>Contains internal information.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SenderUniqueID" minOccurs="0" />
        <xs:element ref="SenderCompanyName" minOccurs="0" />
        <xs:element ref="ReceiverUniqueID" minOccurs="0" />
        <xs:element ref="ReceiverCompanyName" minOccurs="0" />
        <xs:element ref="IsDropShip" minOccurs="0" />
        <xs:element ref="InterchangeControlNumber" minOccurs="0" />
        <xs:element ref="GroupControlIdentifier" minOccurs="0" />
        <xs:element ref="GroupControlNumber" minOccurs="0" />
        <xs:element ref="DocumentControlIdentifier" minOccurs="0" />
        <xs:element ref="DocumentControlNumber" minOccurs="0" />
        <xs:element ref="InterchangeSenderID" minOccurs="0" />
        <xs:element ref="InterchangeReceiverID" minOccurs="0" />
        <xs:element ref="GroupSenderID" minOccurs="0" />
        <xs:element ref="GroupReceiverID" minOccurs="0" />
        <xs:element ref="BatchPart" minOccurs="0" />
        <xs:element ref="BatchTotal" minOccurs="0" />
        <xs:element ref="BatchID" minOccurs="0" />
        <xs:element ref="Comments" minOccurs="0" />
        <xs:element ref="Validation" minOccurs="0" />
        <xs:element ref="OrderManagement" minOccurs="0" />
        <xs:element ref="Version" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonetaryAmount" type="xs:decimal" />
  <xs:element name="MultiplePriceQuantity" type="xs:int" />
  <xs:element name="NatlDrugCode" type="xs:string" />
  <xs:element name="NoteCode" type="xs:string" />
  <xs:element name="NoteFormatCode" type="xs:string" />
  <xs:element name="NoteFunctionCode" type="xs:string" />
  <xs:element name="NoteInformationField" type="xs:string" />
  <xs:element name="Notes">
    <xs:annotation>
      <xs:documentation>Use for free-form text comments and instructions.  Corresponds to EDI MSG segment, plus language and format information used by EDIFACT.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NoteCode" minOccurs="0"></xs:element>
        <xs:sequence minOccurs="0" maxOccurs="2">
          <xs:element ref="NoteInformationField"></xs:element>
        </xs:sequence>
        <xs:element ref="PrinterCarriageControlCode" minOccurs="0" />
        <xs:element ref="Number" minOccurs="0" />
        <xs:element ref="LanguageCode" minOccurs="0" />
        <xs:element ref="NoteFormatCode" minOccurs="0" />
        <xs:element ref="NoteFunctionCode" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NRFColorCode">
    <xs:annotation>
      <xs:documentation> A common language for product color that supplements the information conveyed by UPC codes.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="NRFSizeCode">
    <xs:annotation>
      <xs:documentation> A common language for product size that supplements the information conveyed by UPC codes.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="NRFStandardColorAndSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NRFColorCode" minOccurs="0"></xs:element>
        <xs:element ref="ColorCategoryName" minOccurs="0" />
        <xs:element ref="ColorPrimaryDescription" minOccurs="0" />
        <xs:element ref="NRFSizeCode" minOccurs="0"></xs:element>
        <xs:element ref="SizeCategoryName" minOccurs="0" />
        <xs:element ref="SizePrimaryDescription" minOccurs="0" />
        <xs:element ref="SizeSecondaryDescription" minOccurs="0" />
        <xs:element ref="SizeTableName" minOccurs="0" />
        <xs:element ref="SizeHeading1" minOccurs="0" />
        <xs:element ref="SizeHeading2" minOccurs="0" />
        <xs:element ref="SizeHeading3" minOccurs="0" />
        <xs:element ref="SizeHeading4" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number" type="xs:string" />
  <xs:element name="OptionNumber" type="xs:string" />
  <xs:element name="OrderManagement">
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation>Order Management Models</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
        <xs:enumeration value="DropShip" />
        <xs:enumeration value="CrossDock" />
        <xs:enumeration value="MultiStore" />
        <xs:enumeration value="Bulk-Import" />
        <xs:enumeration value="None" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrderQty" type="xs:decimal" />
  <xs:element name="OrderQtyUOM" type="xs:string" />
  <xs:element name="OuterPack" type="xs:int" />
  <xs:element name="OwnershipCode" type="xs:string" />
  <xs:element name="PackCode" type="xs:string" />
  <xs:element name="PackDimensionUOM" type="xs:string" />
  <xs:element name="PackHeight" type="xs:decimal" />
  <xs:element name="PackLength" type="xs:decimal" />
  <xs:element name="PackSize" type="xs:decimal" />
  <xs:element name="PackUOM" type="xs:string" />
  <xs:element name="PackVolume" type="xs:decimal" />
  <xs:element name="PackVolumeUOM" type="xs:string" />
  <xs:element name="PackWeight" type="xs:decimal" />
  <xs:element name="PackWeightUOM" type="xs:string" />
  <xs:element name="PackWidth" type="xs:decimal" />
  <xs:element name="Paperwork" type="PaperworkType" />
  <xs:complexType name="PaperworkType">
    <xs:sequence>
      <xs:element ref="ReportTypeCode" minOccurs="0" />
      <xs:element ref="ReportTransmissionCode" minOccurs="0" />
      <xs:element ref="ReportCopiesNeeded" minOccurs="0" />
      <xs:element ref="AddressTypeCode" minOccurs="0" />
      <xs:element ref="LocationCodeQualifier" minOccurs="0" />
      <xs:element ref="LocationNumber" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
      <xs:element ref="ActionsIndicated" minOccurs="0" />
      <xs:element ref="RequestCategoryCode" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartDescription1" type="xs:string" />
  <xs:element name="PartDescription2" type="xs:string" />
  <xs:element name="PartNumber" type="xs:string" />
  <xs:element name="PartNumberQual" type="xs:string" />
  <xs:complexType name="PartyIdentificationType">
    <xs:sequence>
      <xs:element ref="Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentMethodCode" type="xs:string" />
  <xs:element name="PaymentTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="Terms"></xs:group>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PctDollarBasis" type="xs:string" />
  <xs:element name="Percent" type="xs:decimal" />
  <xs:element name="PercentOfInvoicePayable" type="xs:decimal" />
  <xs:element name="PhysicalDetails" type="PhysicalDetailsType" />
  <xs:complexType name="PhysicalDetailsType">
    <xs:sequence>
      <xs:group ref="ItemPack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostalCode">
    <xs:annotation>
      <xs:documentation>Code defining international postal zone code excluding punctuation and blanks (zip code for United States).  Required for Ship To</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="POTypeDescription">
    <xs:annotation>
      <xs:documentation>A free-form description describing the type of Purchase Order</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceMultiplier" type="xs:decimal" />
  <xs:element name="PriceMultiplierQual" type="xs:string" />
  <xs:element name="PriceQuantityDetail" type="PriceQuantityType" />
  <xs:complexType name="PriceQuantityType">
    <xs:sequence>
      <xs:element ref="ChangeReasonCode" minOccurs="0" />
      <xs:element ref="Date1" minOccurs="0" />
      <xs:element ref="PriceTypeIDCode" minOccurs="0" />
      <xs:element ref="UnitPrice" minOccurs="0" />
      <xs:element ref="UnitPriceBasis" minOccurs="0" />
      <xs:element ref="Quantity1" minOccurs="0" />
      <xs:element ref="UnitOfMeasure" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceTypeIDCode" type="xs:string" />
  <xs:element name="PrinterCarriageControlCode" type="xs:string" />
  <xs:element name="ProductCharacteristicCode" type="xs:string" />
  <xs:element name="ProductColorCode" type="xs:string" />
  <xs:element name="ProductColorDescription" type="xs:string" />
  <xs:group name="ProductData">
    <xs:sequence>
      <xs:element ref="ProductSizeCode" minOccurs="0"></xs:element>
      <xs:element ref="ProductSizeDescription" minOccurs="0"></xs:element>
      <xs:element ref="ProductColorCode" minOccurs="0"></xs:element>
      <xs:element ref="ProductColorDescription" minOccurs="0"></xs:element>
      <xs:element ref="ProductFabricCode" minOccurs="0" />
      <xs:element ref="ProductFabricDescription" minOccurs="0"></xs:element>
      <xs:element ref="ProductProcessCode" minOccurs="0" />
      <xs:element ref="ProductProcessDescription" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="ProductDescription" type="xs:string" />
  <xs:element name="ProductDescriptionCode" type="xs:string" />
  <xs:element name="ProductFabricCode" type="xs:string" />
  <xs:element name="ProductFabricDescription" type="xs:string" />
  <xs:element name="ProductID" type="ProductIDType" />
  <xs:complexType name="ProductIDType">
    <xs:sequence>
      <xs:element ref="PartNumberQual" minOccurs="0"></xs:element>
      <xs:element ref="PartNumber" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductOrItemDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ItemDescriptionType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>If ItemDescriptionType is present, then the ProductDescription is required to describe the product or item.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="ProductCharacteristicCode" minOccurs="0" />
        <xs:element ref="AgencyQualifierCode" minOccurs="0" />
        <xs:element ref="ProductDescriptionCode" minOccurs="0" />
        <xs:element ref="ProductDescription" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The ProductDescription defines what the product or item is.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="SurfaceLayerPositionCode" minOccurs="0" />
        <xs:element ref="SourceSubqualifier" minOccurs="0" />
        <xs:element ref="YesOrNoResponse" minOccurs="0" />
        <xs:element ref="LanguageCode" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductProcessCode" type="xs:string" />
  <xs:element name="ProductProcessDescription" type="xs:string" />
  <xs:element name="ProductSizeCode" type="xs:string" />
  <xs:element name="ProductSizeDescription" type="xs:string" />
  <xs:element name="PromotionDealDescription" type="xs:string" />
  <xs:element name="PromotionDealNumber">
    <xs:annotation>
      <xs:documentation>Promotion/Deal Number</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="PromotionDescriptionID" type="xs:string" />
  <xs:element name="PurchaseOrderNumber">
    <xs:annotation>
      <xs:documentation>Identifying number for Purchase Order assigned by the orderer/purchaser</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="PurchaseOrderTypeCode">
    <xs:annotation>
      <xs:documentation>Specifying the type of Purchase Order</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Qty" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>Numeric value of quantity</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Qty1" type="xs:decimal" />
  <xs:element name="Qty1UOM" type="xs:string" />
  <xs:element name="QtyLeftToReceive" type="xs:decimal" />
  <xs:element name="QtyUOM" type="xs:string" />
  <xs:element name="Qualifier1" type="xs:string" />
  <xs:element name="Qualifier2" type="xs:string" />
  <xs:element name="Quantity1" type="xs:decimal" />
  <xs:element name="Quantity2" type="xs:decimal" />
  <xs:element name="QuantityQualifier" type="xs:string" />
  <xs:element name="RangeMaximum" type="xs:decimal" />
  <xs:element name="RangeMinimum" type="xs:decimal" />
  <xs:element name="ReceiverCompanyName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Company Name of receiver.  “ReceiverName” JMS header in DC4</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ReceiverUniqueID" type="xs:int">
    <xs:annotation>
      <xs:documentation>Company UID of receiver.  “ReceiverKey” JMS header in DC4</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:group name="RecordID">
    <xs:sequence>
      <xs:element ref="TradingPartnerId" minOccurs="0" />
      <xs:choice>
        <xs:element ref="InvoiceNumber" minOccurs="0" />
        <xs:element ref="DocumentId" minOccurs="0" />
        <xs:element ref="ReportStartDate" minOccurs="0" />
        <xs:element ref="CatalogNumber" minOccurs="0" />
        <xs:element ref="ShipmentIdentification" minOccurs="0" />
        <xs:element ref="PurchaseOrderNumber" minOccurs="0" />
        <xs:element ref="CreditDebitNumber" minOccurs="0" />
        <xs:element ref="DepositorOrderNumber" minOccurs="0" />
      </xs:choice>
      <xs:element ref="RecordType" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="RecordType" type="xs:string" />
  <xs:complexType name="recordType">
    <xs:annotation>
      <xs:documentation>Abstract record structure.  Begins with optional trading partner, document ID, and record type fields, followed by one or more data field elements.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref="RecordID" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reference">
    <xs:annotation>
      <xs:documentation>Corresponds to EDI REF segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="ReferenceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReferenceDate" type="xs:string" />
  <xs:element name="ReferenceID" type="xs:string" />
  <xs:element name="ReferenceID1" type="xs:string" />
  <xs:element name="ReferenceID2" type="xs:string" />
  <xs:element name="ReferenceID3" type="xs:string" />
  <xs:element name="ReferenceID4" type="xs:string" />
  <xs:element name="ReferenceIdentification" type="xs:string" />
  <xs:element name="ReferenceIdentifications" type="ReferenceIdentificationsType" />
  <xs:complexType name="ReferenceIdentificationsType">
    <xs:sequence>
      <xs:element ref="ReferenceQual1" />
      <xs:element ref="ReferenceID1" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
      <xs:element ref="Date1" minOccurs="0" />
      <xs:element ref="Time1" minOccurs="0" />
      <xs:element ref="TimeCode1" minOccurs="0" />
      <xs:element ref="ReferenceQual2" minOccurs="0" />
      <xs:element ref="ReferenceID2" minOccurs="0" />
      <xs:element ref="ReferenceQual3" minOccurs="0" />
      <xs:element ref="ReferenceID3" minOccurs="0" />
      <xs:element ref="ReferenceQual4" minOccurs="0" />
      <xs:element ref="ReferenceID4" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceIDs">
    <xs:annotation>
      <xs:documentation>Identification of one or more reference numbers</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ReferenceQual" minOccurs="0" />
        <xs:element ref="ReferenceID" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="ReferenceInfo">
    <xs:sequence>
      <xs:element ref="ReferenceQual" minOccurs="0"></xs:element>
      <xs:element ref="ReferenceID" minOccurs="0"></xs:element>
      <xs:element ref="Description" minOccurs="0"></xs:element>
      <xs:element ref="ReferenceIDs" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:element name="ReferenceInformation">
    <xs:annotation>
      <xs:documentation> Use for free-form text comments and instructions.  Corresponds to EDI N9 segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="ReferencesInfo" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReferenceQual" type="xs:string" />
  <xs:element name="ReferenceQual1" type="xs:string" />
  <xs:element name="ReferenceQual2" type="xs:string" />
  <xs:element name="ReferenceQual3" type="xs:string" />
  <xs:element name="ReferenceQual4" type="xs:string" />
  <xs:group name="ReferencesInfo">
    <xs:sequence>
      <xs:group ref="ReferenceInfo" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="Date1" minOccurs="0" />
      <xs:element ref="Time1" minOccurs="0" />
      <xs:element ref="TimeCode1" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="RelationshipCode" type="xs:string" />
  <xs:element name="ReportCopiesNeeded" type="xs:int" />
  <xs:element name="ReportStartDate" type="xs:string" />
  <xs:element name="ReportTransmissionCode" type="xs:string" />
  <xs:element name="ReportTypeCode" type="xs:string" />
  <xs:element name="RequestCategoryCode" type="xs:string" />
  <xs:element name="RequestedPickupDate" type="xs:date" />
  <xs:element name="RestrictionsConditionsQualifier" type="xs:string" />
  <xs:element name="RestrictionsOrConditions" type="RestrictionsOrConditionsType" />
  <xs:complexType name="RestrictionsOrConditionsType">
    <xs:sequence>
      <xs:element ref="RestrictionsConditionsQualifier" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
      <xs:element ref="QuantityQualifier" minOccurs="0" />
      <xs:element ref="Quantity1" minOccurs="0" />
      <xs:element ref="AmountQualifier" minOccurs="0" />
      <xs:element ref="MonetaryAmount" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetailInformation" type="xs:string" />
  <xs:element name="RiskOfLossCode" type="xs:string" />
  <xs:element name="RoutingSequenceCode" type="xs:string" />
  <xs:element name="SalesRequirements" type="SalesRequirementsType" />
  <xs:complexType name="SalesRequirementsType">
    <xs:sequence>
      <xs:element ref="ShipCompleteCode" minOccurs="0" />
      <xs:element ref="ActionCode" minOccurs="0" />
      <xs:element ref="Amount" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Qty" minOccurs="0"></xs:element>
        <xs:element ref="QtyUOM" minOccurs="0"></xs:element>
        <xs:element ref="DateTimeQualifier1" minOccurs="0"></xs:element>
        <xs:element ref="Date1" minOccurs="0"></xs:element>
        <xs:element ref="Time1" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Schedules" type="SchedulesType" />
  <xs:complexType name="SchedulesType">
    <xs:annotation>
      <xs:documentation>Used to specify various quantities of items ordered that are to be scheduled. When used, the unit of measurement code (Qty1UOM) should always be identical to the unit of measurement code in the associated line item detail (OrderQtyUOM) and the sum of values of quantity (Qty1) should always equal the quantity ordered (OrderQty) in the line item detail.  Corresponds to EDI SCH segment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Schedule" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SealNumber">
    <xs:annotation>
      <xs:documentation> Reference information as defined for a particular Transaction Set or as specified by the Reference Identification Qualifier
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SealStatusCode" type="xs:string" />
  <xs:element name="SellersCurrency" type="xs:string" />
  <xs:element name="SenderCompanyName" type="xs:string">
    <xs:annotation>
      <xs:documentation>Company Name of sender.  “SenderName” JMS header in DC4</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SenderUniqueID" type="xs:int">
    <xs:annotation>
      <xs:documentation>Company UID of sender.  “SenderKey” JMS header in DC4</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SequenceNumber" type="xs:string" />
  <xs:element name="ServiceLevelCode">
    <xs:annotation>
      <xs:documentation>Code indicating the level of transportation service or the billing service offered by the transportation carrier.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ServiceLevelCode1" type="xs:string" />
  <xs:element name="ServiceLevelCode2" type="xs:string" />
  <xs:element name="ServiceLevelCode3" type="xs:string" />
  <xs:element name="ServiceLevelCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ServiceLevelCode" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipCompleteCode">
    <xs:annotation>
      <xs:documentation>Code to identify a specific requirement or agreement of sale.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipDate" type="xs:date" />
  <xs:element name="ShipmentIdentification" type="xs:string" />
  <xs:element name="ShipmentLadingQuantity">
    <xs:annotation>
      <xs:documentation> Number of units (pieces) of the lading commodity
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:int" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipmentOrderStatusCode">
    <xs:annotation>
      <xs:documentation> Code indicating the status of an order or shipment or the disposition of any difference 
                                              between the quantity ordered and the quantity shipped for a line item or transaction
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipmentQtyPackingCode">
    <xs:annotation>
      <xs:documentation> Code identifying the type of packaging; Part 1: Packaging Form, Part 2: Packaging Material; if the Data Element is used, then Part 1 is always required
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="ShipmentStatusCode" type="xs:string" />
  <xs:element name="ShipmentWeight" type="xs:decimal" />
  <xs:element name="ShipmentWeightUOM" type="xs:string" />
  <xs:element name="ShippingSerialID" type="xs:string" />
  <xs:element name="ShipQty" type="xs:decimal" />
  <xs:element name="ShipQtyUOM" type="xs:string" />
  <xs:element name="SizeCategoryName">
    <xs:annotation>
      <xs:documentation> A name describing a group of associated sizes.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SizeHeading1" type="xs:string" />
  <xs:element name="SizeHeading2" type="xs:string" />
  <xs:element name="SizeHeading3" type="xs:string" />
  <xs:element name="SizeHeading4" type="xs:string" />
  <xs:element name="SizePrimaryDescription">
    <xs:annotation>
      <xs:documentation> Human readable text defining the size code.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SizeSecondaryDescription">
    <xs:annotation>
      <xs:documentation> Additional human readable text defining the size code.
        </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SizeTableName" type="xs:string" />
  <xs:element name="SourceSubqualifier" type="xs:string" />
  <xs:element name="State">
    <xs:annotation>
      <xs:documentation>Code (Standard State/Province) as defined by appropriate government agency</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="SurfaceLayerPositionCode" type="xs:string" />
  <xs:element name="Tax">
    <xs:annotation>
      <xs:documentation>Corresponds to EDI TXI segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TaxTypeCode" minOccurs="0"></xs:element>
        <xs:element ref="TaxAmount" minOccurs="0"></xs:element>
        <xs:element ref="TaxPercent" minOccurs="0"></xs:element>
        <xs:element ref="JurisdictionQual" minOccurs="0"></xs:element>
        <xs:element ref="JurisdictionCode" minOccurs="0"></xs:element>
        <xs:element ref="TaxExemptCode" minOccurs="0"></xs:element>
        <xs:element ref="RelationshipCode" minOccurs="0" />
        <xs:element ref="PctDollarBasis" minOccurs="0" />
        <xs:element ref="TaxID" minOccurs="0"></xs:element>
        <xs:element ref="AssignedID" minOccurs="0"></xs:element>
        <xs:element ref="Description" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxAmount" type="xs:string" />
  <xs:element name="TaxExemptCode" type="xs:string" />
  <xs:element name="TaxID" type="xs:string" />
  <xs:element name="TaxPercent" type="xs:string" />
  <xs:element name="TaxReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LocationQualifier" minOccurs="0" />
        <xs:element ref="LocationID" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxReferences" type="TaxReferencesType" />
  <xs:complexType name="TaxReferencesType">
    <xs:sequence>
      <xs:element ref="TaxID" minOccurs="0" />
      <xs:element ref="TaxExemptCode" minOccurs="0" />
      <xs:element ref="CustomsEntryTypeGroupCode" minOccurs="0" />
      <xs:element ref="TaxReference" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxTypeCode" type="xs:string" />
  <xs:group name="Terms">
    <xs:sequence>
      <xs:element ref="TermsType" minOccurs="0"></xs:element>
      <xs:element ref="TermsBasisDateCode" minOccurs="0"></xs:element>
      <xs:element ref="TermsDiscountPercentage" minOccurs="0"></xs:element>
      <xs:element ref="TermsDiscountDate" minOccurs="0"></xs:element>
      <xs:element ref="TermsDiscountDueDays" minOccurs="0"></xs:element>
      <xs:element ref="TermsNetDueDate" minOccurs="0"></xs:element>
      <xs:element ref="TermsNetDueDays" minOccurs="0"></xs:element>
      <xs:element ref="TermsDiscountAmount" minOccurs="0"></xs:element>
      <xs:element ref="TermsDeferredDueDate" minOccurs="0" />
      <xs:element ref="TermsDeferredAmountDue" minOccurs="0" />
      <xs:element ref="PercentOfInvoicePayable" minOccurs="0" />
      <xs:element ref="TermsDescription" minOccurs="0"></xs:element>
      <xs:element ref="TermsDueDay" minOccurs="0" />
      <xs:element ref="PaymentMethodCode" minOccurs="0" />
      <xs:element ref="Percent" minOccurs="0" />
      <xs:element ref="TermsStartDate" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This field is typically used for grocery.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="TermsDueDateQual" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This field is typically used for grocery.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="AmountSubjectToDiscount" minOccurs="0">
        <xs:annotation>
          <xs:documentation>This field is typically used for grocery.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="TermsBasisDateCode" type="xs:string" />
  <xs:element name="TermsDeferredAmountDue" type="xs:decimal" />
  <xs:element name="TermsDeferredDueDate" type="xs:date" />
  <xs:element name="TermsDescription">
    <xs:annotation>
      <xs:documentation>A free-form description to clarify the related data elements and their content</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="TermsDiscountAmount" type="xs:decimal" />
  <xs:element name="TermsDiscountDate" type="xs:date">
    <xs:annotation>
      <xs:documentation>Date expressed as CCYY-MM-DD where CC represents the first two digits of the calendar year</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsDiscountDueDays" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of days in the terms discount period by which payment is due if terms discount is earned</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsDiscountPercentage" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>Terms discount percentage, expressed as a whole number, available to the purchaser if an invoice is paid on or before the Terms Discount Due Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsDueDateQual" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code identifying the method to be used for payment in conjunction with due date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsDueDay" type="xs:int" />
  <xs:element name="TermsNetDueDate" type="xs:date">
    <xs:annotation>
      <xs:documentation>Date expressed as CCYY-MM-DD where CC represents the first two digits of the calendar year</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsNetDueDays" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of days until total invoice amount is due (discount not applicable)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsStartDate" type="xs:date">
    <xs:annotation>
      <xs:documentation>Date from which payment terms are calculated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TermsType" type="xs:string" />
  <xs:element name="Time1" type="xs:time" />
  <xs:element name="TimeCode1" type="xs:string" />
  <xs:element name="TotalAmount" type="xs:decimal">
    <xs:annotation>
      <xs:documentation>Monetary amount</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TotalAmountCode" type="xs:string" />
  <xs:element name="TradingPartnerId">
    <xs:annotation>
      <xs:documentation>Unique internal Identifier</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="15" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TransitDirectionCode" type="xs:string" />
  <xs:element name="TransitTime" type="xs:string" />
  <xs:element name="TransitTimeQual" type="xs:string" />
  <xs:element name="TransportationTermsCode" type="xs:string" />
  <xs:element name="TransportationTermsQualifierCode" type="xs:string" />
  <xs:element name="TsetPurposeCode">
    <xs:annotation>
      <xs:documentation>Code identifying purpose of transaction set</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="UnitOfMeasure" type="xs:string" />
  <xs:element name="UnitPrice" type="xs:decimal" />
  <xs:element name="UnitPriceBasis" type="xs:string" />
  <xs:element name="UPCCaseCode" type="xs:string" />
  <xs:element name="Validation" type="xs:string">
    <xs:annotation>
      <xs:documentation>Key value pairs indicating exceptions to or additions to validating data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vendor">
    <xs:annotation>
      <xs:documentation>Vendor ID Number</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="VendorPartNumber" type="xs:string" />
  <xs:element name="Version">
    <xs:annotation>
      <xs:documentation>XML Version number </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:element name="Volume" type="xs:decimal" />
  <xs:element name="VolumeQualifier" type="xs:string" />
  <xs:element name="VolumeUnitCode" type="xs:string" />
  <xs:element name="VolumeUOM" type="xs:string" />
  <xs:element name="Weight" type="xs:decimal" />
  <xs:element name="WeightQualifier" type="xs:string" />
  <xs:element name="WeightUnitCode" type="xs:string" />
  <xs:element name="YesOrNoResponse" type="xs:string" />
</xs:schema>